div {
    border-radius: 20px;
    width: 70%;
    height: 400px;
    margin: auto;

    background: repeating-linear-gradient(45deg,
            rgb(255, 38, 0) 0px,
            rgb(0, 110, 255) 40px,
            black 40px,
            rgb(197, 184, 184) 80px);
}